@import "../../colors"

.task-widget
  min-height: 100px

.day-card
  min-width: 150px

  border: $gray-400 solid thin
  border-radius: 7px
  box-shadow: $gray-transparent 2px 2px 2px

.daily-card-header
  background-color: $blue-200
  height: 45px

.weather-icon
  height: 30px
  width: 75px