@import "../../colors"

.task-widget
  min-height: 100px
.day-widget
  height: 150px
  margin-bottom: 25px
.day-card
  min-width: 150px
  max-width: 350px
  border: $gray-400 solid thin
  border-radius: 7px
  box-shadow: $gray-transparent 2px 2px 2px
  overflow: scroll
  background-color: white
.day-card-body
  padding-top: 5px
  overflow: scroll
  background-color: white
.daily-card-header
  background-color: $blue-200
  height: 45px

.weather-icon
  height: 30px
  width: 75px

.day-card-line-item
  background: $blue-100
  margin: 3px
  width: 95%

.line-item-grip
  width: 5px
  margin-left: -5px
  color: $orange-400

.task-widget-spinner
  font-size: 72px
  color: $orange-400