@import "../colors"

.profile-pic
  width: 45px
  height: 45px

.to-do-widget
  height: 300px
  border: solid thin $gray-400
  box-shadow: $gray-transparent 2px 2px 2px
  border-radius: 5px
  max-width: 95%
  background-color: white

.to-do-widget-header
  background-color: $blue-200